<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SoftwareAG PasteBin</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/propper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <style type="text/css">
        .display-5 {
            font-size: 2.5rem;
            font-weight: 200;
            line-height: 1.2;
        }
        .sag-color {
            background-color: #0999CD;
        }
        .btn-sag-color {
            color: #fff;
            background-color: #0999CD;
        }
        a:link, a:visited {
            color: #0999CD;
            text-decoration: none;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark sag-color">
    <a class="navbar-brand" href="#">Pastebin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/all">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my">My uploads</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/curl">Curl</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="NullPointerException" aria-label="Search">
            <button class="btn btn-light" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container">
    <div style="margin-top: 20px;">&nbsp;
        <div th:if="${uploaded}" class="alert alert-info" role="alert">
            Your snipped is uploaded, check it on <a th:href="${url}"><span th:text="${url}"></span></a>
        </div>
    </div>

        <div class="row ">
            <div class="col-lg-6">
                <h1 class="display-5 text-center">History</h1><br/>
                <ul class="list-group mb-3">
                    <li th:each="snippet : ${history}" class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0"><a class="link" th:href="${'http://localhost:8080/'+snippet.getKey()}" th:text="${snippet.getKey()}"></a></h6>
                            <small class="text-muted">
                                Uploaded by <a th:href="@{/by/{ip}(ip=${snippet.ip})}"><b th:text="${snippet.ip}">--ip--</b></a>
                                <span th:if="${not #lists.isEmpty(snippet.attachment)}">contains <b th:text="${snippet.attachment.size()}"></b> file<span th:if="${snippet.attachment.size() > 1}" th:text="s"></span></span>
                            </small>
                        </div>
                        <span class="text-muted" th:text="${#temporals.format(snippet.getUploaded(), 'dd-MM-yyyy HH:mm')}">2019-02-09 22:16:03</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 text-center">Upload snippet</h1><br/>
                <form action="#" enctype="multipart/form-data" th:action="@{/submit}" th:object="${pasteDTO}" method="post">
                    <div class="form-group">

                        <input class="form-control-file" type="file" name="file"  id="inputGroupFile01" multiple>

                        <label for="exampleFormControlTextarea1"></label><textarea th:field="*{details}" class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="#!/bin/bash"></textarea>
                    </div>
                    <div class="float-left">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input"   id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Burn after read</label>
                        </div>
                    </div>
                    <div class="float-right">
                        <button type="submit" class="btn btn-sag-color">Upload</button>
                    </div>
                    <div class="clearfix"></div>
                </form>

            </div>
        </div>

</div>
</body>
</html>